<h1>A place</h1>

<p>
  <b>Name:</b>
  <%= @place.name %>
</p>
 
<p>
  <b>Address:</b>
  <%= @place.address %>
</p>

<p>
  <b>Description:</b>
  <%= @place.description %>
</p>

<p>
  <b>Rating:</b>
  <%= @place.rating %>
</p>

<%= link_to 'Back', places_path %> / <%= link_to 'Edit', edit_place_path(@place) %>

